params {
    config_profile_name        = 'bih'
    config_profile_description = 'Berlin Institute of Health HPC cluster profile provided by nf-core/configs.'
    config_profile_contact     = 'BIH-HPC IT Team <hpc-helpdesk@bih-charite.de>'
    config_profile_url         = 'https://www.hpc.bihealth.org/'
    max_memory                 = 200.GB
    max_cpus                   = 32
    max_time                   = 7.d
}

process {
    resourceLimits = [
        memory: 200.GB,
        cpus: 32,
        time: 7.d
    ]
    executor       = 'slurm'
    maxRetries     = 2
    clusterOptions = "--export=ALL"
}

apptainer {
    enabled    = true
    autoMounts = true
    cacheDir = "/data/cephfs-1/scratch/groups/dubois/users/rauertc_c/ChIPseq"
    pullTimeout = "40m"

}

cleanup = true
workDir = "/data/cephfs-1/scratch/groups/dubois/users/rauertc_c/ChIPseq/work_rauertc_c"

profiles {
    debug {
        cleanup = false
    }
}
